<div id="social-sharing">
  <%= content_tag :h2, "Sharing is Caring" %>
  <%= link_to image_tag('social/facebook.png'), "https://facebook.com/sharer.php?u=#{request.original_url}&t=#{ yield :meta_title }", rel: :nofollow, title: 'share this page on Facebook'  %>
  <%= link_to image_tag('social/twitter.png'), "http://twitter.com/share?text=#{ yield :meta_title }&url=#{request.original_url}", rel: :nofollow, title: 'share this page on Twitter'  %>
  <%= link_to image_tag('social/google+.png'), "https://plus.google.com/share?url=#{request.original_url}", rel: :nofollow, title: 'share this page on Google+' %>
  <%= content_tag :p, 'Please share this page if you think your friends will enjoy its content', class: "social-sharing-tagline" %>
</div>
