<% page_title = local_assigns[:meta_title].present? ? meta_title : Setting.first.try(:site_name) %>
<div id="social-sharing">
  <%= content_tag :h2, "Sharing is Caring" %>
  <%= link_to image_tag('social/facebook.png', class: "silhouette"), "https://facebook.com/sharer.php?u=#{request.original_url}&t=#{ page_title }", rel: :nofollow, title: 'share this page on Facebook' %>
  <%= link_to image_tag('social/twitter.png', class: "silhouette"), "http://twitter.com/share?text=#{ page_title }&url=#{request.original_url}", rel: :nofollow, title: 'share this page on Twitter' %>
  <%= link_to image_tag('social/google-plus.png', class: "silhouette"), "https://plus.google.com/share?url=#{request.original_url}", rel: :nofollow, title: 'share this page on Google+' %>
  <%= content_tag :p, 'Please share this page if you think your friends will enjoy its content', class: "social-sharing-tagline" %>
</div>
